body {
    margin: 0px;
    padding: 0px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 10fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-row: 1/4;
    background-color: aqua;
}

h1 img {
    width: 50px;
}

img {
   width: 25px;
}

ul {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column: 2/3;
    background-color: brown;
}


.content {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: yellow;
}