body {
    margin: 0px;
    padding: 0px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr ;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    display: grid;
    grid-row: 1/4;
    background-color: #c4b5fd;
    font-size: 1.5rem;
}

h1 img {
    width: 50px;
}

 img {
   width: 25px;
   padding-left: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    
}

li img {
    padding-right: 10px;
}

.settings {
    padding-top: 50px;
}

.header {
    display: grid;
    grid-template-rows: 100px 150px;
}

.top {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    
}

.icon {
    width: 40px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 800px;
    height: 45px;
}

.noti {
   display: flex;
    align-items: center;
    gap: 15px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;
}

.profile {
    display: flex;
    position: relative;
    justify-self: flex-end;
    right: 10px;
    width: 100px;
}
.welcome {
    display: flex;
    flex-direction: column;
    
}

.welcome p {
    margin: 0;
}

.welcome .name {
  font-weight: bold;
  font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 100px;
    gap: 30px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 26px;
    font-size: 1rem;
    background-color: rgb(4, 0, 255);
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #e7e5e4;

}
.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: 50px 300px 300px 300px;
    gap: 15px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.article .title {
display: flex;
position: relative;
bottom: 20px;
grid-column: 1/4;
grid-row: 1/2;
font-size: 2rem;
font-weight: bolder;

}

.card {
    display: grid;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    border-left: solid #00ccff 12px
}

.card span {
    font-size: 2rem;
    font-weight: bolder;
}

.card p {
    font-size: 1.5rem;
}

.links {
    display: flex;
    position: relative;
    justify-content: end;
    right: 25px;
    
}
.links img {
    width: 40px;
    padding-left: 25px;
}

.side {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 450px 50px 400px;
    padding-left: 50px;
}

.side span {
    display: flex;
    align-items: end;
    font-size: 2rem;
    font-weight: bolder;
}

.Announcements {
    background-color: white;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.Announcements .title {
    font-weight: bolder;
    font-size: 1.5rem;
}

.Announcements p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 10px;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    text-align: center;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.trending img {
    width: 40px;
}

.people{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.people .name {
    font-weight: bold;
}